<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td>First Name</td>
          <td>{{ object.first_name }}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{ object.last_name }}</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>{{ object.username }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ object.email }}</td>
        </tr>
        <tr>
          <td>Role</td>
          <td>{{ object.user_type }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
