{% extends 'base.html' %} {% load static %} {% block content %}
<section class="introduction">
  <img
    src="{% static 'assets/intro_img.jpg' %}"
    alt=""
    srcset=""
    style="width: 75vw; height: 70vh; object-fit: cover"
  />
  <p class="h3">'Navigating Your Path to Success'</p>
</section>
<br />
<br />
<p class="fs-4 text-start w-85">Latest Posts</p>
<section class="mposts">
  {% for post in posts %}
  <div class="mcard mx-5" style="width: 18rem">
    <img src="{{ post.cover_img.url }}" class="c-card-img" alt="" />
    <div class="c-card-body">
      <p class="fs-5">{{ post.title }}</p>
      <a href="{% url 'posts:details' post.slug %}" class="mbtn mbtn-l"
        >Read more</a
      >
    </div>
  </div>

  {% endfor %}
</section>
{% endblock %}
