{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
Welcome {{user.username}} <br />
<form action="{% url 'accounts:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>
<a href="{% url 'accounts:details' user.slug %}">Details</a>
<a href="{% url 'accounts:update' user.slug %}">Update</a>
<!-- <a href="">Change Password</a> -->
{% else %}
<a href="{% url 'accounts:signup' %}">Create Account</a>
<a href="{% url 'accounts:login' %}">Login</a>

{% endif %} {% endblock %}
